@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  margin:0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
/* Barre de navigation */
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  position: sticky;
  top: 0;
}
nav h1{
  font-size: 20px;
}
nav .onglets{
  display: flex;
  flex-wrap:wrap;
}
nav .onglets p{
  font-size: 17px;
  margin-right: 10px;
  cursor:pointer;
}
nav .onglets input{
  margin: 8px 20px;
  padding: 15px;
  border-radius: 30px;
  border:none;
  background-color: #f2f2f2;
  outline:none;
}
/* Fin de la barre de navigation */

/* Header */
header{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
header h1{
  font-size: 50px;
  max-width: 500px;
  text-align:center;
}
header button{
  padding: 15px 20px;
  font-size: 20px;
  border:none;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
}
/* Fin du header */

/* Section principale */

.main{
  margin: 20px;
  margin-top: 80px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
/* Toutes les cartes */
.cards{
  display:flex;
  flex-wrap:wrap;
}
.cards .card{
  margin-right: 20px;
  cursor:pointer;
}
.cards .card img{
  width: 350px;
}
.cards .card .card-header{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}
.cards .card .card-body p{
  margin-top: -10px;
}
/* Vidéo de présentation */
.main .video{
  margin-top: 80px;
  width: 90%;
}
.main .video iframe{
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}
/* Pied de Page */
footer{
  background-color: #000;
  color: #fff;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px;
}
footer .social-media{
  display: flex;
  flex-direction:row ;
}
footer .social-media p{
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 5px;
  text-align: center;
  width: 20px;
  cursor: pointer;
}
/* Responsive */
@media screen and (max-width:640px){
  nav .onglets .link, nav h1{
    display: none;
  }
  .cards .card{
    margin-left: 10px;
  }
  .cards .card img{
    width: 300px;
  }
}